.wrapper{
	display: flex;
	flex-direction: column;
}
.clouds{
	height: 3vh;
	width: 100%;
	border-bottom:solid 1px black;
}

.tree{
	width: 50%;
	margin: 10% auto;
	embed{
		margin: auto;
    width: 100%;
	}
}
