.wrapper{
	display: flex;
	flex-direction: column;
}
.clouds{
	height: 3vh;
	width: 100%;
	border-bottom:solid 1px black;
}
// .person{
// 	margin: 15% auto;
// 	.head{
// 		height: 60px;
// 		width: 60px;
// 		border-radius: 60%;
// 		border:solid 1px black;
// 		margin:auto;
// 	}
// 	.upper-body{
// 		display: flex;
// 		.arm{
// 			height: 50px;
// 			width: 10px;
// 			border:solid 1px black;
// 		}
// 		.chest{
// 			height: 50px;
// 			width: 50px;
// 			border:solid 1px black;
// 		}
// 	}
// 	.legs{
// 		display: flex;
// 		margin: auto;
// 		width: 60px;
// 		justify-content: space-evenly;
// 		.leg{
// 			height: 50px;
// 			width: 10px;
// 			border:solid 1px black;
// 		}
// 	}
// }

.tree{
	width: 30%;
	margin: 5% auto;
}
body { 
  margin:0px;
  overflow: hidden;
background: rgb(255,255,255);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(171,209,234,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(171,209,234,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abd1ea',GradientType=1 );